@import '../../assets/styles/variables.scss';

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    width: 32px;
    height: 32px;
    opacity: 0.6;
    border-radius: 100%;
    background-color: $main-color;
    &::after {
        content: ' ';
    }
}
