@import '../../assets/styles/variables.scss';

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 16px;
        transition: 0.2s ease-out;
    }
    &-item {
        display: flex;
        gap: 10px;
        align-items: center;
        &-icon {
            display: flex;
            align-items: center;
            width: 16px;
            height: 16px;
        }
        &-plus {
            padding-left: 26px;
        }
    }
}

.black {
    color: black;
    &:hover {
        color: $main-color;
    }
}

.white {
    color: white;
    &:hover {
        color: $main-color;
    }
}

.main {
    color: $main-color;
}
