@import '../../assets/styles/variables.scss';

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    &-importantInfo {
        display: flex;
        gap: 30px;
        width: 100%;
        &-name {
            width: 50%;
        }
        &-email {
            width: 50%;
        }
        @media (min-width: $mobileS-width) {
            flex-direction: column;
            gap: 15px;
            & > * {
                width: 100%;
            }
        }
        @media (min-width: $laptop-width) {
            flex-direction: row;
            gap: 30px;
            & > * {
                width: 100%;
            }
        }
    }
    &-textarea {
        font-family: 'Ubuntu';
        border: 1px solid #e1e1e1;
        outline: none;
        padding: 7px 10px;
        width: 100%;
        height: 100px;
        resize: vertical;
        &::placeholder {
            color: #252525;
        }
    }
    &-checkbox {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        & > * {
            margin-bottom: 15px;
        }
    }

    @media (min-width: $mobileS-width) {
        & > button {
            width: 100%;
        }
    }
    @media (min-width: $laptop-width) {
        & > button {
            width: auto;
        }
    }
}
