@import '../../assets/styles/variables.scss';

@mixin titleMainInfo {
    font-family: 'Core Sans';
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: 2px solid $main-color;
    margin-bottom: 20px;
}

.course {
    display: flex;
    padding: 40px 0;
    &-content {
        width: 67%;
        &-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &-name {
                font-family: 'Core Sans';
                font-size: 32px;
                margin-right: 25px;
            }
            &-price {
                font-family: 'Poppins';
                font-size: 22px;
                font-weight: 400;
                color: $main-color;
            }
        }
        &-quickLinks {
            display: flex;
            align-items: center;
            font-family: 'Ubuntu';
            font-weight: 500;
            font-size: 15px;
            color: $main-color;
            margin-bottom: 20px;
            & > a {
                color: $main-color;
            }
            &-divider {
                margin: 0 5px;
            }
            &-reviews {
                display: flex;
                align-items: center;
                &-image {
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &-basicInfo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            &-numberLectures {
                font-family: 'Ubuntu';
                display: flex;
                flex-direction: column;
                &-title {
                    font-size: 17px;
                    font-weight: 500;
                }
                &-info {
                    font-weight: 300;
                }
            }
            &-duration {
                font-family: 'Ubuntu';
                display: flex;
                flex-direction: column;
                &-title {
                    font-size: 17px;
                    font-weight: 500;
                }
                &-info {
                    font-weight: 300;
                }
            }
        }
        &-image {
            width: 100%;
            margin-bottom: 40px;
        }
        &-reviews {
            &-title {
                @include titleMainInfo;
            }
            margin-bottom: 30px;
        }
        &-teachers {
            &-title {
                @include titleMainInfo;
            }
            margin-bottom: 30px;
        }
        &-faq {
            &-title {
                @include titleMainInfo;
            }
            &-list {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
    }
}
