@import '../../../../assets/styles/variables.scss';

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    &-header {
        font-family: 'Core Sans';
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        padding: 25px 20px;
        margin-bottom: 70px;
        background-color: $main-color;
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        &-item {
            padding: 30px;
            width: 33%;
            max-height: 700px;
        }
        @media (min-width: $mobileS-width) {
            &-item {
                width: 100%;
                & img {
                    height: 550px;
                }
            }
        }

        @media (min-width: $tablet-width) {
            &-item {
                width: 50%;
            }
        }

        @media (min-width: $laptop-width) {
            &-item {
                max-height: 700px;
            }
            & img {
                height: auto;
            }
        }

        @media (min-width: $desktop-width) {
            &-item {
                width: 33%;
            }
        }
    }
}
