@import '../../assets/styles/variables.scss';

@mixin sectionHeader {
    font-family: 'Core Sans';
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    padding: 25px 20px;
    margin-bottom: 70px;
    background-color: $main-color;
}

.career {
    &-wrapper {
        display: flex;
        gap: 50px;
        &-main {
            display: flex;
            flex-direction: column;
            width: 80%;
            &-about {
                display: flex;
                flex-direction: column;
                margin-bottom: 70px;
                &-header {
                    @include sectionHeader;
                }
                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 50px;
                    &-item {
                        display: flex;
                        flex-direction: column;
                        width: calc(50% - 50px);
                        &-image {
                            width: 100px;
                            height: 100px;
                            margin-bottom: 20px;
                        }
                        &-text {
                            font-family: 'Ubuntu';
                            font-weight: 300;
                            font-size: 17px;
                        }
                    }
                }
            }
            &-benefits {
                display: flex;
                flex-direction: column;
                margin-bottom: 70px;
                &-header {
                    @include sectionHeader;
                }
                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    &-item {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        width: calc(50% - 25px);
                        &-image {
                            flex-shrink: 0;
                            width: 25px;
                            height: 25px;
                        }
                        &-text {
                            font-family: 'Ubuntu';
                            font-size: 17px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        @media (min-width: $mobileS-width) {
            flex-direction: column;
            &-main {
                width: 100%;
                &-about-list {
                    justify-content: center;
                    &-item {
                        align-items: center;
                        width: 100%;
                    }
                }
                &-benefits-list {
                    justify-content: center;
                    &-item {
                        width: 100%;
                    }
                }
            }
        }

        @media (min-width: $laptop-width) {
            flex-direction: row;
            &-main {
                width: 80%;
                &-about-list {
                    justify-content: center;
                    &-item {
                        width: calc(50% - 50px);
                    }
                }
                &-benefits-list {
                    justify-content: center;
                    &-item {
                        width: calc(50% - 20px);
                    }
                }
            }
        }
    }
}
