@import '../../assets/styles/variables.scss';

.reviewsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-item {
        padding: 30px;
        width: 33%;
        height: 300px;
        @media (min-width: $mobileS-width) {
            width: 100%;
        }
        @media (min-width: $tablet-width) {
            width: 50%;
        }
        @media (min-width: $desktop-width) {
            width: 33%;
        }
    }
}
