.checkbox {
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    &-input {
        width: 20px;
        height: 18px;
    }
    &-link {
        transition: 0.2s ease-out;
        &:hover {
            color: #e6285e;
        }
    }
}
