@import '../../assets/styles/variables.scss';

.team {
    &-wrapper {
        display: flex;
        gap: 50px;
        &-main {
            display: flex;
            flex-direction: column;
            width: 80%;
            &-work {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $main-color;
                padding: 20px;
                width: 100%;
                &-info {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    &-header {
                        font-family: 'Core Sans';
                        font-weight: 24px;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                    &-text {
                        font-family: 'Ubuntu';
                        font-weight: 14px;
                        font-weight: 300;
                    }
                }

                &-button > button {
                    color: white;
                    border-color: white;
                    background-color: $main-color;
                }
            }
        }
    }

    .divider {
        position: relative;
        z-index: 100;
        height: 100px;
        background-color: white;
    }
}
