@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans';
    src: url('../fonts/Core\ Sans\ N\ SC\ W01\ 97\ Cn\ Black.woff2') format('woff2'),
        url('../fonts/Core\ Sans\ N\ SC\ W01\ 97\ Cn\ Black.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
}
